{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": 10 }, "loose": true }],
    "@babel/preset-typescript"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "overrides": [
    {
      "test": "**/styled.test.tsx",
      "presets": [["@babel/preset-react", { "useBuiltIns": true }]]
    }
  ],
  "env": {
    "browser": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": false,
            "loose": true,
            "targets": {}
          }
        ]
      ],
      "plugins": [
        ["@babel/plugin-transform-runtime", { "useESModules": false }]
      ]
    },
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": false,
            "loose": true,
            "modules": false
          }
        ]
      ],
      "plugins": [["@babel/plugin-transform-runtime", { "useESModules": true }]]
    }
  }
}
