{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": false,
        "loose": true,
        "modules": false
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-transform-runtime", { "useESModules": true }]
  ],
  "env": {
    "node": {
      "presets": [
        ["@babel/preset-env", { "targets": { "node": 10 }, "loose": true }],
        "@babel/preset-typescript"
      ],
      "plugins": ["@babel/plugin-proposal-class-properties"]
    }
  }
}
