{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "2",
        "exclude": [
          "transform-typeof-symbol",
          "es6.object.assign",
          "es6.object.keys",
          "es6.array.iterator",
          "web.dom.iterable"
        ],
        "loose": true
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "env": {
    "node": {
      "presets": [
        ["@babel/preset-env", { "targets": { "node": 10 }, "loose": true }],
        "@babel/preset-typescript"
      ],
      "plugins": ["@babel/plugin-proposal-class-properties"]
    }
  }
}
